#container{
    // height: 100%;
    font-family: 'Roboto', sans-serif;
    .pageSections{
        // height: 100%;
        .navFrame{
            // height: inherit;
            position: relative;
            z-index: 1000;
            .navBar{
                background: #fff;
                color: #000;
                height: 70px;
                width: 100%;
                text-align: center;
                line-height: 70px;
                position: fixed;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
            }

            .topNav{
                .navBar{top: 0;}
            }

            .rightNav{
                .navBar{
                    right: 0;
                    width: 70px;
                    height: 100%;
                }

                h3{
                    /* FF3.5+ */
                    -moz-transform: rotate(90deg);
                    /* Opera 10.5 */
                    -o-transform: rotate(90deg);
                    /* Saf3.1+, Chrome */
                    -webkit-transform: rotate(90deg);
                    /*standard*/
                    transform: rotate(90deg);
                }
            }

            .bottomNav{
                .navBar{
                    bottom: 0;
                }
            }

            .leftNav{
                .navBar{
                    left: 0;
                    width: 70px;
                    height: 100%; 
                }

                h3{
                    /* FF3.5+ */
                    -moz-transform: rotate(-90deg);
                    /* Opera 10.5 */
                    -o-transform: rotate(-90deg);
                    /* Saf3.1+, Chrome */
                    -webkit-transform: rotate(-90deg);
                    /*standard*/
                    transform: rotate(-90deg);
                }
            }       
        }

        .navContent{
            position: absolute;
            top: 20%;
            // width: 50%;
            left: 10%;
            right: 10%;

            .homeWrapper{
                h2{
                    font-weight: 700;
                    margin-bottom: 20px;
                    line-height: 45px;
                }
                p{
                    font-size: 20px;
                }
            }

            .profileWrapper{
                // height: 700px;
                margin-top: 100px;

                .profileContainer{
                    padding-top: 20px;
                    display: flex;

                    .section{
                        margin-right: 30px;

                        h4{ 
                            text-transform: capitalize;
                        }

                        ul {
                            padding-bottom: 20px;

                            li{ 
                                font-size: 17px;
                            }
                        }

                    }
                }
            }

            .projectWrapper{
                .projectsNavbar{}

                .projectSection{
                    width: 1000px;
                    margin: 0 auto 300px;

                    .projectDesc{
                        margin-bottom: 40px;
                        h2,p{ margin-bottom: 20px;}
                        h2{ font-weight: 700;}
                        p{ 
                            font-size: 17px;
                            line-height: 34px;
                        }
                        a{}
                    }

                    .imageList{
                        width: 100%;

                        img{ width:100%;}
                    }
                }
            }

            .contactWrapper{
                .contactHeader{
                    h2 {
                        margin-bottom: 15px;
                        font-weight: 700;
                    }
                    p {
                        margin-bottom: 50px;
                        font-size: 18px;
                    }
                }

                .socialMedia{
                    ul {
                        list-style: none;
                        padding: 0;
                        // margin: 0;
                        display: flex;

                        li{
                            margin-right: 40px;
                        }
                    }
                }
            }
        }
    }
}